.container {
    position: relative;
    display: flex;
    justify-content: right;
}

.content {
    width: 60%;
    margin: 5%;
    z-index: 1;
}

.searcher {
    display: flex;
    gap: 0.5rem;
    width: 100%;
}

.info {
    display: flex;
    align-items: center;
    gap: 1rem;
    width: 100%;
    margin-right: 90px;
    margin-top: 40px;
    color: #999999;
    padding-bottom: 1rem;
}

.info h2 {
    font-size: 1.2rem;
}

.info a {
    color: #999999;
    cursor: pointer;
    font-size: 0.8rem;
}

.personal-data {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.repositories h1 {
    text-align: center;
    margin: 2rem;
    z-index: 1;
}

.content hr {
    background: rgb(229, 229, 229, 0.25);
}