.container {
    position: relative;
    display: flex;
    align-items: flex-start;
    justify-content: flex-end;
}

.content {
    margin: 5%;
}

.searcher {
    display: flex;
    gap: 0.5rem;
    width: 100%;
}

.info {
    display: flex;
    gap: 1rem;
    width: 100%;
    margin-right: 90px;
    margin-top: 40px;
    color: #999999;
    z-index: 1;
    padding-bottom: 1rem;
}

.info h2 {
    font-size: 1.2rem;
}

.info a {
    color: #999999;
    cursor: pointer;
    font-size: 0.8rem;
}

.personal-data {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.repositories h1 {
    text-align: center;
    margin: 2rem;
}

.repository {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    margin: 1rem 0;
}

.repository a {
    color: #539BF5;
}

.repository p {
    color: #999999;
}

.repositories hr, .content hr {
    background: rgb(229, 229, 229, 0.25);
}